<div class="page-header-overlay">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <header class="entry-header">
                                <h1>Online learning system</h1>
                            </header><!-- .entry-header -->
                    </div><!-- .col -->
                </div><!-- .row -->
            </div><!-- .container -->
        </div><!-- .page-header-overlay -->
    </div><!-- .page-header -->
<div class="container">
        <div class="row">
            <div class="col-12">
                <div class="breadcrumbs">
                    <ul class="flex flex-wrap align-items-center p-0 m-0">
                        <li><%=link_to "Home", elearning_index_path %></li>
                        <li><%=link_to "Create New", new_elearning_path %></li>
                    </ul>
                </div><!-- .breadcrumbs -->
            </div><!-- .col -->
        </div><!-- .row -->
        <div class="row">
            <div class="col-12 col-lg-8">
                <div class="featured-courses courses-wrap">
                    <div class="row mx-m-25">
                    
                    <% @courses1.each do |course| %>
                        <div class="col-12 col-md-6 px-25">
                            <div class="course-content">
                                <figure class="course-thumbnail">
                                        <% if course.cover? %>
                                        <%= image_tag course.cover.thumb.url %>
                                        <% end%>
                                </figure><!-- .course-thumbnail -->

                                <div class="course-content-wrap">
                                    <header class="entry-header">
                                        <h2 class="entry-title"><%= link_to "#{course.name}", elearning_path(course.course_id) %></h2>

                                        <div class="entry-meta flex flex-wrap align-items-center">
                                            <div class="course-author"><%= link_to "#{course.teacher_name}", student_path(course[:sid]) %></div>

                                    </header><!-- .entry-header -->

                                    <footer class="entry-footer flex flex-wrap justify-content-between align-items-center">
                                        <div class="course-cost">
                                            <%= course.fee %>$
                                        </div><!-- .course-cost -->

            
                                    </footer><!-- .entry-footer -->
                                </div><!-- .course-content-wrap -->
                            </div><!-- .course-content -->
                        </div><!-- .col -->
                        <% end %>
                        </div><!-- .row -->
                        </div><!-- .featured-courses -->
                        
                        </div><!-- .col -->
                <div class="col-12 col-lg-4">
                <div class="sidebar">
                    <div class="search-widget">
                        <form class="flex flex-wrap align-items-center">
                            <input type="search" placeholder="Search...">
                            <button type="submit" class="flex justify-content-center align-items-center"><i class="fa fa-search"></i></button>
                        </form><!-- .flex -->
                    </div><!-- .search-widget -->

                    <div class="cat-links">
                        <h2>Categories</h2>

                        <ul class="p-0 m-0">
                            <li><a href="#">Math</a></li>
                            <li><a href="#">Literature</a></li>
                            <li><a href="#">Linguistics</a></li>
                        </ul>
                    </div><!-- .cat-links -->

                    <div class="latest-courses">
                        <h2>Latest Courses</h2>

                        <ul class="p-0 m-0">
                        <% @courses.sort_by{|t| - t.created_at.to_i}.first(4).each do |course| %>
                            <li class="flex flex-wrap justify-content-between align-items-center">
                               <% if course.cover? %>
                                <%= image_tag course.cover.small_thumb.url %>
                                <% end%>
                                <div class="content-wrap">
                                    <h3><%= link_to "#{course.name}", elearning_path(course.course_id) %></h3>

                                    <div class="course-cost"><%= course.fee %>$</div>
                                </div><!-- .content-wrap -->
                            </li>

                            <% end %>
                        </ul>
                    </div><!-- .latest-courses -->
                </div><!-- .sidebar -->
            </div><!-- .col -->
        </div><!-- .row -->
    </div><!-- .container -->
