<% provide(:title, 'New Course') %>
<h1>New Course</h1>

<div class="row">
</div>
  <div class="col-md-6 col-md-offset-3">
    <%= form_with model: @course, url:elearning_new_path, local: true do |f|  %> 
      <%= render 'shared/error_messages', object: f.object %>
      <%= f.label :name %>
      <%= f.text_field :name %>

      <%= f.label :description %>
      <%= f.text_area :description %>

      <%= f.label :aim, "The aim of the course" %>
      <%= f.text_area :aim %>

      <%= f.label :category %>
      <br />
      <%= f.label :category, "Math" %>
      <%= f.radio_button :category, "Math" %>
      <%= f.label :category, "Literature" %>
      <%= f.radio_button :category, "Literature" %>
      <%= f.label :category, "Linguistics" %>
      <%= f.radio_button :category, "Linguistics" %>

      <%= f.label :requirement %>
      <%= f.text_area :requirement %>

      <%= f.label :fee %>
      <%= f.number_field :fee %>

      <%= f.label :cover %>
      <%= f.file_field :cover %>

      <%= f.submit "Create Course", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>