<div class="page-header-overlay">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <header class="entry-header">
                                <h1><%= @course[:name] %></h1>
                            </header><!-- .entry-header -->
                    </div><!-- .col -->
                </div><!-- .row -->
            </div><!-- .container -->
        </div><!-- .page-header-overlay -->
    </div><!-- .page-header -->
    <div class="container">
        <div class="row">
            <div class="col-12 offset-lg-1 col-lg-10">
                <div class="featured-image">
                <% if @course.cover? %>
                <%= image_tag @course.cover.url %>
                <% end%>
                    <div class="course-cost"><%= @course[:fee] %>$</div>
                </div>
            </div><!-- .col -->
        </div><!-- .row -->

        <div class="row">
            <div class="col-12 offset-lg-1 col-lg-1">
                <div class="post-share">
                    <h3>share</h3>

                    <ul class="flex flex-wrap align-items-center p-0 m-0">
                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                        <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                        <li><a href="#"><i class="fa fa-thumb-tack"></i></a></li>
                    </ul>
                </div><!-- .post-share -->
            </div><!-- .col -->
            <div class="col-12 col-lg-8">
                <div class="single-course-wrap">
                    <div class="course-info flex flex-wrap align-items-center">
                        <div class="course-author flex flex-wrap align-items-center mt-3">	

                            <div class="author-wrap">
                                <label class="m-0">Teacher</label>
                                <div class="author-name"><%=link_to "#{@teacher[:name]}", @teacher %></div>
                            </div><!-- .author-wrap -->
                        </div><!-- .course-author -->
                        <div class="course-cats mt-3"> 
                            <label class="m-0">Categories</label>
                            <div class="author-name"><a href="#"><%= @course[:category] %>
							</a></div>
                        </div><!-- .course-cats -->

                        <div class="course-students mt-3">
                            <label class="m-0">Student</label>
                            <div class="author-name"><%= @course.subscribers.count %></div>
                        </div><!-- .course-students -->
                        <% if logged_in? %>
                          <% if current_user[:student_id] == @course[:student_id] %>
                        <div class="course-students mt-3">
                            <label class="m-0">Edit</label>
                            <div class="author-name"><%=link_to "Edit", edit_elearning_path %></div>
                        </div><!-- .course-students -->
                        <div class="course-students mt-3">
                            <label class="m-0">Delete</label>
                            <div class="author-name"><%=link_to "Delete", elearning_url, method: :delete,
                                  data: { confirm: "You sure?" } %> </div>
                        </div><!-- .course-students -->
                          <% else %>
                            <% if current_user.subscribed?(@course) %>
                            <%= form_for(current_user.subscriptions.find_by(subscribed_id: @course.course_id), html: { method: :delete }, data: { confirm: "You sure?" }) do |f| %>
                            <div class="buy-course mt-3"><%= f.submit "UNFOLLOW", class: "btn" %></div>
                            <% end %>
                            <% else %>
                                <% if current_user.budget > @course.fee %>
                                <%= form_for(current_user.subscriptions.build, data: { confirm: "You sure?" }) do |f| %>
                                <div><%= hidden_field_tag :subscribed_id, @course.course_id %></div>
                                <div class="buy-course mt-3"><%= f.submit "BUY NOW", class: "btn" %></div><!-- .buy-course -->
                                    <% end %>
                                <% else %>
                                <div class="author-name">Not enough budget</div>
                                <%end%>
                            <% end %>
                          <% end %>
                        <% else %>
                            <div class="author-name"><%=link_to "Log in to buy course", login_path %></div>
                        <% end %>


                    </div><!-- .course-info -->

                    <div class="single-course-cont-section">
                        <h2>What Will I Learn? </h2>

                        <ul class="p-0 m-0 green-ticked">
						<li><%= @course[:aim] %></li>
                        </ul>

                        <h2>Requirements</h2>

                        <ul class="p-0 m-0 black-doted">
						<li><%= @course[:requirement] %></li>
                        </ul>
						
                        <h2>Description</h2>

                        <p><%= @course[:description] %></p>


                    <div class="related-courses">
                        <header class="entry-heading flex flex-wrap justify-content-between align-items-center">
                            <h2 class="entry-title">Related Courses</h2>

                            <%= link_to "View all", elearning_index_path %>
                        </header><!-- .entry-heading -->
                        
                        <div class="row mx-m-25">
                           <% @courses.each do |course| %>
                           <% if course.course_id != @course.course_id %>
                            <div class="col-12 col-lg-6 px-25">
                                <div class="course-content">
                                    <figure class="course-thumbnail">
                                        <% if course.cover? %>
                                        <%= image_tag course.cover.thumb.url %>
                                        <% end%>
                                    </figure><!-- .course-thumbnail -->

                                    <div class="course-content-wrap">
                                        <header class="entry-header">
                                            <h2 class="entry-title"><%= link_to "#{course.name}", elearning_path(course.course_id) %></h2>

                                            <div class="entry-meta flex flex-wrap align-items-center">
                                                <div class="course-author"><%= link_to "#{course.teacher_name}", student_path(course.sid) %></div>

                                            
                                        </header><!-- .entry-header -->

                                        <footer class="entry-footer flex flex-wrap justify-content-between align-items-center">
                                            <div class="course-cost">
                                                <%= course.fee %>$
                                            </div><!-- .course-cost -->
                                        </footer><!-- .entry-footer -->
                                    </div><!-- .course-content-wrap -->
                                </div><!-- .course-content -->
                            </div><!-- .col -->
                            <% end %>
                            <% end %>
                        </div><!-- .row -->
                    </div><!-- .related-course -->
                </div><!-- .single-course-wrap -->
            </div><!-- .col -->
        </div><!-- .row -->
    </div><!-- .container -->